main {
  height: 58vh;
  box-sizing: border-box;
  overflow-y: auto;
  grid-area: conteudo;
}
::-webkit-scrollbar {
  width: .8rem;
  height: .8rem;
}
::-webkit-scrollbar-thumb {
  background: #8f008f;
  border-radius: 13px;
}
::-webkit-scrollbar-thumb:hover {
  background: #380038;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 4px solid transparent;
  border-radius: 4rem;
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  -ms-border-radius: 4rem;
  -o-border-radius: 4rem;
}

@media screen and (max-width:768px) {
  main {
      height: 50vh;
  }
}
