.back--button--container {
    animation: Anime 0.4s ease forwards;
    -webkit-animation: AnimeContainer 0.4s ease forwards;
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
}

.back--button--container h2 {
    font-size: 3.8rem;
    color: #f5d7f5;
    text-align: left;
    line-height: 0;
    opacity: 0;

    animation: Anime 0.4s ease forwards;
    -webkit-animation: AnimeContainer 0.4s 0.2s ease forwards;
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
}

.back--button--container p {
    text-align: left;
    color:#eee;
    opacity: 0;

    animation: Anime 0.4s ease forwards;
    -webkit-animation: AnimeContainer 0.4s 0.4s ease forwards;
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
}



@keyframes AnimeContainer {
    0% {
        opacity: 0;
    }  
    100% {
        opacity: 1;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }  
}